{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="{% static 'user/css/about.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'user/css/home.css'%}">
</head>
<body>
  <nav class="navbar">
    <div class="logo">
        <img src="{% static 'user/logo.png'%}" alt="Logo">
    </div>
    <div class="nav-links">
       
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'notice' %}" class="nav-link">Notices</a>
        <a href="{% url 'aboutUs' %}" class="nav-link">AboutUs</a>
       
    </div>
  </nav>
  
    <div class="about-section">
        <h1>About Us Page</h1>
        
        <p>Welcome to NoticeHub! This is a solo project I'm creating as part of my internship program at CreArt Company.</p>
    <p>NoticeHub aims to simplify communication by providing a platform where administrators can easily create and publish notices. Students can conveniently access and stay updated with important information.</p>
    <p>During this 15-day internship, I'm committed to crafting a user-friendly experience and enhancing my web development skills.</p>
        <!-- <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p> -->
      </div>
      
      <!-- <h2 style="text-align:center">Our Team</h2> -->
      
      
        <div class="column">
          <div class="card">
            <img src="{% static 'user/aksh.png'%}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Aksh Darji</h2>
              <p class="title">IT Engineer</p>
              <p>
                <a  class="email" href="mailto:akshdarji2019@gmail.com" class="email-link">akshdarji2019@gmail.com</a>
              </p>
              <p>
                <a href="https://www.linkedin.com/in/aksh-darji-127316210/" target="_blank" class="button">Contact on LinkedIn</a>
              </p>
            </div>
          </div>
        </div>
      
    </div> 
</body>
</html>