{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/home.css'%}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'user/logo.png'%}" alt="Logo">
        </div>
        <div class="nav-links">
           
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            <a href="{% url 'notice' %}" class="nav-link">Notices</a>
            <a href="{% url 'aboutUs' %}" class="nav-link">AboutUs</a>
           
        </div>
    </nav>
    <div class="mains" style="background-image: url('{%static 'user/background.png'%}');">
        <h1 class="headline">Welcome to the NoticeHub</h1>

        <p class="dis">Empowering Communication: 'NoticeHub,' enabling administrators to effortlessly post updates while providing students with streamlined access to important notices. </p>

        <button onclick="location.href = '/admin'" class="notices-button">Admin Login</button>

        <button onclick="location.href = '/user/notice'" class="notices-button">View Notices</button>
    </div>
</body>
</html>
